.post {
    display: flex;
    width: 20%;
    flex-direction: column;
    padding: 20px;
    margin: 0.5%;
    background-color: darkgrey;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 1.6rem;
}