.root {
    text-align: center;
    position: relative;
}

.userInfo {
    background-color: #fff;
    border-radius: 10px;
    list-style: none;
    font-size: 2rem;
    text-align: center;
    padding: 20px;
    max-width: 60%;
    margin: 0 auto;

    &__item {
        margin-bottom: 10px;
    }
}

.links {
    margin-top: 50px;

    a {
        margin: 20px;
    }
}

.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    width: 80%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__btns {
        a {
            margin-right: 20px;
        }
    }
}