* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 10px;
}

body {
    min-height: 100%;
    margin: 0;
}

a {
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.btn {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgb(75, 173, 223);
    transition: 0.3s ease-in-out;
    color: #fff;
    cursor: pointer;
    outline: none;

    &:hover,
    &:active {
        color: #000;
    }

    &--pagination {
        padding: 5px 10px;
        border: none;
        border-radius: 5px;
    }
}

.App {
    background-color: rgb(104, 207, 106);
    min-height: 100vh;
}

.header {
    padding: 10px 0;
    background-color: rgb(75, 173, 223);

    &__container {
        max-width: 80%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

main {
    padding: 50px 0;
}

.logo {
    display: flex;
    align-items: center;
    color: #fff;

    span {
        margin-right: 10px;
        font-size: 3rem;
    }

    img {
        height: 50px;
        width: 50px;
    }

}

.nav {
    position: relative;
}

.toggler {
    cursor: pointer;
    font-size: 3rem;
    color: #fff;
    padding: 5px 10px;
    transition: 0.3s ease-in-out;

    &:hover,
    &:active {
        color: #000;
    }
}

.menu {
    position: absolute;
    background-color: rgb(75, 173, 223);

    &__item {
        padding: 5px 10px;

        a {
            font-size: 2rem;
            color: #fff;


            &:hover,
            &:active {
                color: #000;
            }
        }
    }
}



//helpers

.center {
    text-align: center;
}