.page {
    cursor: pointer;
    font-size: 20px;
    margin: 0 3px;

    &__selected {
        font-weight: 900;
        cursor: pointer;
        font-size: 20px;
        margin: 0 3px;
        font-weight: 900;
        transform: scale(1.1);
    }
}


.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}